<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Adélies</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/base.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<body>
  <header>
    <h2><a href="index.html">Adélies</a></h2>
    <h2>    <img src="../public/images/ADELIE.png" alt="icon" width="50" height="50" ></h2>
  </header>
  <section class="hero">
    <div class="background-image" style="background-image: url(https://images.unsplash.com/photo-1519713319223-70371c5c5aeb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0065b8867d20ec007c81fb0a20091e6f&auto=format&fit=crop&w=1500&q=80);"></div>
    <div class="hero-content-area">
      <h1>Diary Log</h1>
      <h3>Reflect on today</h3>
    </div>
  </section>
  <section class="pengu">
    <p>
      <form method="POST" action = "" align="center" >
      Date:  <input name = "date" type = "text" > <br> <br>
      How many stars would you give today (1-5):  <input name = "stars" type = "text"><br> <br>
      What was your favorite part about today: <input name = "best" type = "text"><br> <br>
      What was your least favorite part about today: <input name = "bad" type = "text"><br> <br>
      What can you do to make tomorrow better: <input name = "better" type = "text"><br> <br>
      Your quote of the day: <input name = "quote" type = "text"><br> <br> <br>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
    </p>
    </section>
    <ul class="grid">
    <a href="learn.html">   <img src="../public/images/LEARN.jpg" alt="learn" width="200" height="200"></a>
    <a href="meditate.html">   <img src="../public/images/MED.jpg" alt="med" width="200" height="200"></a>
    <a href="practice.html">   <img src="../public/images/QUIZ.jpg" alt="quiz" width="200" height="200"></a>
    </ul>


  </section>
  <section class="pengu">
    <h3 class="title"> Past Entries</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis laoreet mauris. Integer purus odio, consequat vitae sollicitudin sed, ultricies eget odio. Curabitur in erat eleifend, euismod nisi a, blandit mi. Nam elementum, ipsum vel scelerisque lobortis, est nisl dignissim purus, venenatis rutrum arcu risus eget eros. Suspendisse lacinia non nunc at auctor. Sed accumsan gravida lectus at pharetra. Duis aliquet arcu vel orci hendrerit dictum. </p>
    <hr>
  </section>
  <section class="pengu">
    <h3 class="title">Lorem Ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis laoreet mauris. Integer purus odio, consequat vitae sollicitudin sed, ultricies eget odio. Curabitur in erat eleifend, euismod nisi a, blandit mi. Nam elementum, ipsum vel scelerisque lobortis, est nisl dignissim purus, venenatis rutrum arcu risus eget eros. Suspendisse lacinia non nunc at auctor. Sed accumsan gravida lectus at pharetra. Duis aliquet arcu vel orci hendrerit dictum. </p>
    <hr>
  </section>
  <section class="pengu">
    <h3 class="title">Lorem Ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis laoreet mauris. Integer purus odio, consequat vitae sollicitudin sed, ultricies eget odio. Curabitur in erat eleifend, euismod nisi a, blandit mi. Nam elementum, ipsum vel scelerisque lobortis, est nisl dignissim purus, venenatis rutrum arcu risus eget eros. Suspendisse lacinia non nunc at auctor. Sed accumsan gravida lectus at pharetra. Duis aliquet arcu vel orci hendrerit dictum. </p>
    <hr>
  </section>

</body>
</html>
