<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Adélies</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="../public/css/base.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
</head>
<body>
  <header>
    <h2><a href="#">Adélies</a></h2>
    <h2>    <img src="../public/images/ADELIE.png" alt="icon" width="50" height="50" ></h2>
  </header>
  <section class="hero">
    <div class="background-image" style="background-image: url(https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Birds/A-G/adelie-penguin-jumping-ocean.adapt.945.1.jpg);"></div>
    <div class="hero-content-area">
      <h1>Learn</h1>
      <h3>If Adélies endure the harsh winters, so can you :)</h3>

    </div>
  </section>
  <section class="pengu">
    <h3 class="title">Lorem Ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis laoreet mauris. Integer purus odio, consequat vitae sollicitudin sed, ultricies eget odio. Curabitur in erat eleifend, euismod nisi a, blandit mi. Nam elementum, ipsum vel scelerisque lobortis, est nisl dignissim purus, venenatis rutrum arcu risus eget eros. Suspendisse lacinia non nunc at auctor. Sed accumsan gravida lectus at pharetra. Duis aliquet arcu vel orci hendrerit dictum. </p>
    <hr>
  </section>
  <section class="pengu">
    <h3 class="title">Lorem Ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis laoreet mauris. Integer purus odio, consequat vitae sollicitudin sed, ultricies eget odio. Curabitur in erat eleifend, euismod nisi a, blandit mi. Nam elementum, ipsum vel scelerisque lobortis, est nisl dignissim purus, venenatis rutrum arcu risus eget eros. Suspendisse lacinia non nunc at auctor. Sed accumsan gravida lectus at pharetra. Duis aliquet arcu vel orci hendrerit dictum. </p>
    <hr>
  </section>
  <section class="pengu">
    <h3 class="title">Lorem Ipsum</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis laoreet mauris. Integer purus odio, consequat vitae sollicitudin sed, ultricies eget odio. Curabitur in erat eleifend, euismod nisi a, blandit mi. Nam elementum, ipsum vel scelerisque lobortis, est nisl dignissim purus, venenatis rutrum arcu risus eget eros. Suspendisse lacinia non nunc at auctor. Sed accumsan gravida lectus at pharetra. Duis aliquet arcu vel orci hendrerit dictum. </p>
    <hr>
  </section>

</body>
</html>
